@{
    ViewData["Title"] = "Home Page";
}

<h1>IdentityServer4 MVC Client</h1>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>